01_Code/.env
02_Inputs/figma_jsons/figma_document1.json
02_Inputs/figma_jsons/figma_document2.json

02_Inputs/figma_jsons/figma_document2.json
02_Inputs/figma_jsons/figma_document1.json

.d

02_Inputs/avatars/avatar_scripts/*
!02_Inputs/avatars/avatar_scripts/.gitkeep

02_Inputs/avatars/backgrounds/*
!02_Inputs/avatars/backgrounds/.gitkeep

03_Outputs/avatars/downloads/*
!03_Outputs/avatars/downloads/.gitkeep

03_Outputs/avatars/payloads/*
!03_Outputs/avatars/payloads/.gitkeep
